/* ==============================================================

Project name : ChemProfiling
File name : Page style of Result.html
Author : RCDD Dujiewen
Version : v1.0.0
Created : 14 Feb  2017
Last update : 13 Apr  2017

============================================================== */

body.result {
    min-width: 640px;
    overflow-x: auto;
}

.result-content {
    margin-top: 30px;
    margin-bottom: 25px;
}

p {
    margin-bottom: 10px;
}

.label {
    color: rgb(0, 0, 0);
}

.tab-group {
    display: none;
    border-bottom: 4px solid #e6e6e6;
    border-radius: 0;
}

label[data-name="diversity"],
label[data-name="scaffold"],
label[data-name="alignment"],
label[data-name="target"],
label[data-name="drugs"] {
    display: none;
}

.grid-molBtn span{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.label-molName {
    width: 180px;
}


/*  @group errorTips */

.errorTips {
    display: none;
    margin: 30px 0;
    padding: 30px 10px 15px;
    font-size: 16px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 10px rgba(169, 68, 66, 0.5);
    -moz-box-shadow: 0px 0px 10px rgba(169, 68, 66, 0.5);
    box-shadow: 0px 0px 10px rgba(169, 68, 66, 0.5);
}


/*  structure选项卡：选项按钮样式 */

.structure-option {
    margin-bottom: 15px;
    padding-top: 15px;
    /*  @bug 设置margin-top 没用*/
}

.pull-left .btn {
    margin-right: 5px;
}


/*  小分子展示区域：grid-list布局 */

#strucFrame,
#scafFrame,
#drugsFrame {
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 0;
    margin-bottom: 0;
}

#aligFrame {
    position: relative;
    padding-left: 0;
    min-height: 456px;
}


/*  Grid模式   */

.grid {
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    color: #FFF;
    margin-bottom: 0;
}

.grid .frame {
    width: 222px;
    height: 222px;
    flex: 0 0 auto;
    margin-bottom: 6px;
    list-style: none;
}

.grid .thead-row,
.grid .tcell-info,
.grid .radarDraw {
    display: none;
}

.grid .frame .image {
    position: relative;
    border: 1px solid #DDD;
    width: 220px;
    height: 220px;
    line-height: 0;
}

.drugsProf-display .grid .frame .drugCanvas {
    position: relative;
    border: 1px solid #DDD;
    width: 220px;
    height: 220px;
}

.grid .frame p {
    margin: 0;
}

.grid .frame a {
    text-decoration: none;
    color: #1b75bc;
}

.grid .frame .grid-molBtn {
    position: absolute;
    bottom: 2px;
    left: 5px;
    right: 5px;
    z-index: 999;
    color: #1b75bc;
    line-height: 19px;
}

.grid-molBtn .pull-left {
    width: 190px;
}

#aligFrame .grid-molBtn .pull-right {
    width: 180px;
}

#content6 .grid-molBtn .pull-left {
    width: 100px;
}

.grid .frame .viewMoreInfo {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    z-index: 999;
}

.grid .frame .info {
    display: none;
}


/*  List模式   */

.list {
    color: #333;
}

.list .thead-row {
    display: table-row;
    text-align: center;
    vertical-align: middle;
    height: 39px;
    font-size: 15px;
    /* box-shadow: inset 0 1px #ddd; */
}

.list .thead-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #0099e6;
    font-weight: 600;
}

.list .thead-mols,
.list .thead-drugs {
    width: 20%;
}

.list .frame {
    display: table-row;
    text-align: center;
    vertical-align: middle;
    height: 220px;
    overflow: hidden;
    list-style: none;
    box-shadow: inset 0 1px #ddd;
}


/* .list .frame:nth-child(even) {
    background-color: #fbfcfd;
} */

.list .tcell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    /* box-shadow: inset -1px 0 #ddd; */
}


/*  @group drugsProfiling*/

.list .tcell-Name {
    width: 15%;
}

.list .tcell-ID,
.list .tcell-MW,
.list .tcell-TPSA {
    width: 8%;
}

.list .tcell-ALogP,
.list .tcell-HBD,
.list .tcell-HBA,
.list .tcell-RB {
    width: 6%;
}


/*  @group drugsProfiling*/

.list .tcell-sim,
.list .tcell-cas,
.list .tcell-dbID,
.list .tcell-name {
    width: 15%;
}

.list .tcell-sim,
.list .tcell-CID,
.list .tcell-Name,
.list .tcell-ID {
    color: #0099e6;
}

.list .tcell canvas {
    margin: 1px;
}

.list .frame .image {
    margin: 1px 0;
    position: relative;
    width: 220px;
    height: 220px;
    line-height: 0;
}

.radarDraw {
    width: 20%;
    height: 218px;
    margin: 1px 0;
    /*  -moz-box-shadow: 1px 1px 1px #909090;
   -webkit-box-shadow: 1px 1px 1px #909090;
   box-shadow:1px 1px 1px #909090; */
}

.drugCanvas {
    width: 20%;
    height: 220px;
    line-height: 0;
}

.list .frame .viewMoreInfo,
.list .frame .grid-molBtn {
    display: none;
}

.list .frame .info {
    margin-left: 6px;
    padding: 15px 0;
    flex: 0 1 60%;
    overflow-y: auto;
    width: 60%;
    -moz-box-shadow: 1px 1px 1px #909090;
    -webkit-box-shadow: 1px 1px 1px #909090;
    box-shadow: 1px 1px 1px #909090;
}

.list .frame {
    font-size: 14px;
}

#strucFrame .frame {
    line-height: 0;
}

.list .frame .mol-info {
    margin-top: 0;
    margin-bottom: 5px;
    border-bottom: 1px solid #ddd;
}

.list .frame .mol-info span:first-child {
    display: inline-block;
    width: 20%;
}

.list .frame .mol-info span:last-child {
    width: 80%;
}

.list .frame .info-title {
    color: #069;
    padding-right: 10px;
}


/*  @group scaffold-display*/

.noResultTips {
    display: none;
    position: relative;
    top: 15px;
    padding: 30px 10px 1px;
    margin-bottom: 30px;
    font-size: 16px;
    -webkit-box-shadow: 0px 0px 10px rgba(43, 48, 51, 0.08);
    -moz-box-shadow: 0px 0px 10px rgba(43, 48, 51, 0.08);
    box-shadow: 0px 0px 10px rgba(43, 48, 51, 0.08);
}

.scaffold-list span {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 190px;
}


/*  @group alignment-display */

.TDMol {
    float: left;
    margin-right: 4px;
    margin-bottom: 6px;
}

.TDMol-content {
    height: 448px;
    border: 1px solid #ddd;
    width: 440px;
    margin-bottom: 6px;
    position: relative;
}

.mainMol {
    display: table-cell;
    width: 9999px;
    *display: inline-block;
    *width: auto;
    margin-bottom: 6px;
}


/*  @group drugsProf-display */


/*  @group marvinJS */

#searchComponent {
    padding: 10px 0;
    display: none;
    border: 2px solid #DDD;
    margin-bottom: 10px;
}


/*  @group aligment: ;*/

.frame label {
    display: inline-block;
}

.aligned .frame input {
    display: none;
}


/*  @group 遮罩层  */


/*#mask{ 
    display: none;   
    background-color:black;
    opacity:0.4; 
    filter: alpha(opacity=40);   
    position:fixed; 
    left:0;
    top:0;
    z-index:1000;
}
.close{ 
    position:absolute; 
    right:5px; 
    top:5px; 
    width: 22px;
    height: 22px;
    margin:0;
    font-size: 22px;
    color: #2a6496; 
    cursor:pointer;
    opacity: .8;
    filter: alpha(opacity=80);   
}*/


/*  @group 单分子详细信息  */

.mol-detail {
    display: none;
    background: #fff;
    border-radius: 4px;
}

#molStruc {
    border: 2px solid #ddd;
}

.singleMolInfo {
    margin-top: 10px;
}


/*  @group 分子骨架详细信息  */

.scaffold-detail {
    display: none;
    border-radius: 4px;
    background: #fff;
}

.scaffold-list {
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    border-left: 1px solid #ddd;
}

.scaffold-list li {
    position: relative;
    flex: 0 0 auto;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.scaffold-list span {
    position: absolute;
    bottom: 0px;
    left: 5px;
}


/*  @group diversity-chart */

.diversity-chart {
    padding-top: 15px;
}

.diversity-chart .col-xs-6 {
    margin-bottom: 20px;
    -moz-box-shadow: 1px 1px 5px #909090;
    -webkit-box-shadow: 1px 1px 5px #909090;
    box-shadow: 1px 1px 5px #909090;
}

#heatMap,
#cartogramAllData {
    position: relative;
}

.legendIcon {
    position: absolute;
    left: 146px;
    bottom: 5px;
}

.legendIcon span {
    margin-right: 8px;
}

.legendIcon .saveImg i {
    font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -13%;
}

.cartogram-legend {
    margin-top: 20px;
    padding: 0 20px;
    width: 40%;
}

.cartogramRow .btn {
    padding: 2px 5px;
    background-color: rgb(144, 180, 210);
    border-color: rgb(144, 180, 210);
}

.saveImg {
    color: #3276b1;
    cursor: pointer;
    margin-right: 50px;
}

.svg-bg {
    /* filter:alpha(opacity=60);
    -moz-opacity:0.6;
    opacity: 0.6; */
    margin-top: -15px;
}

text.mono {
    font-size: 9pt;
    font-family: Consolas, courier;
    fill: #aaa;
}

text.axis-workweek {
    fill: #000;
}

text.axis-worktime {
    fill: #000;
}

.axis text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.axis {
    font: 10px;
    fill: none;
    stroke: #000;
}

.axis text {
    font: 11px sans-serif;
    fill: #000;
    stroke: none;
    /*font-weight: bold;*/
}

.axis line {
    shape-rendering: crispEdges;
}

.axis path {
    stroke: #ccc;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
}

.bar {
    fill: steelblue;
}

.bar:hover {
    fill: #E55;
}

.dot:hover {
    fill: #E55;
}

.area:hover {
    fill: #E55;
}

.line {
    padding: 10px;
}

.line:hover {
    stroke: #E55;
}

.arc path:hover {
    fill: #E55;
}

.arc text {
    font: 11px sans-serif;
    fill: #000;
    stroke: none;
    font-weight: bold;
}

.point {
    /*fill: #2ec7c9;*/
    /*fill: #337ab7;*/
    fill: rgb(28, 100, 176);
    fill-opacity: 0.6;
}

.point:hover {
    fill: #E55;
}

.point2 {
    fill: red;
    fill-opacity: 0.5;
}

@media (min-width: 1200px) {
    .searchOptions {
        transition: margin-right 0.3s ease;
    }
}

@media (max-width: 1200px) {
    #searchComponent .searchOptions {
        transition: margin-right 0.3s ease;
        float: right;
        margin-right: 140px;
    }
}

@media (max-width: 992px) {
    #searchComponent .searchOptions {
        float: none;
    }
}

@media screen and (min-width: 992px) {
    #heatMap {
        width: 55%;
    }
}

@media screen and (min-width: 1150px) {
    .container-out {
        margin-left: calc(100vw - 100%);
    }
}

.downloadIcon:hover {
    cursor: pointer;
}